@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50
}

/* Layout transition */
.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

@layer components {
    .menu-list {
      @apply space-y-1;
    }
    
    .nav-link {
      @apply flex items-center p-2 rounded-lg transition-colors;
    }
    
    .nav-link-active {
      @apply bg-primary text-white;
    }
    
    .nav-link-hover {
      @apply hover:bg-base-200;
    }
  }